<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clip of the day</title>
</head>
<body>
    <h1>Here is your MEME for <%=day%></h1>
    <img src="images\<%=day%>.jpg">
    <p>Did you like the meme?</p> 
    <form action="/" method="post">
        <input type="submit" name="yes" value="YES!">
    <input type="submit" name="no" value="NO">
    </form>
    
</body>
</html>